{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
    'hours-display',
] %}

<div {{ attributes.addClass(classes) }}>
    <p{{ attributes.setAttribute('class', status ~ " hours-display__ind" ) }}>
        <span class="hours-display__indicator"></span>
        <span class="hours-display__message">{{ message }}</span>
    </p>
</div>
