{#
/**
 * @file roku_pay_plans.html.twig
 * Default theme implementation to present Roku pay plans data.
 *
 * This template is used when viewing Roku pay plans pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_roku_pay_plans()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('roku_pay_plans') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
